.detail-container p {
  font-weight: 300;
  font-size: 1rem;
  color: #f1f1f1;
  letter-spacing: 0.03rem;
}

.detail-container b,
strong {
  font-weight: 700 !important;
}

.detail-container h5 {
  font-size: 32px;
  text-transform: uppercase;
  color: #fc0;
}
.carousel-inner img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.detailimage {
  width: 164px;
  object-fit: cover;
  margin-top: 16px;
}
