.form-group {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #f1f1f1;
}

.form-control {
  color: #f1f1f1;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #de6600;
}
