.next-launch {
  height: 100%;
  margin-top: 88px;
}

.jumbotron {
  color: #f1f1f1;
}

.jumbotronCategory {
  display: block;
  position: relative;
  padding-left: 24px;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 16px;
}
.jumbotronCategory::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 9px;
  width: 16px;
  height: 2px;
  background-color: #fc0;
}
.jumbotronTitle,
.jumbotron h1 {
  position: relative;
  margin-top: 8px;
  font-weight: 700;
  font-family: "Ek Mukta", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #fc0;
  margin-bottom: 8px;
}
.jumbotronBody p {
  font-size: 16px;
  margin-bottom: 32px;
}
.style {
  color: #fc0;
  background-color: rgba(222, 102, 0, 0.1);
  padding-top: 8px;
  padding-bottom: 8px;
}
.style h5 {
  color: #f1f1f1;
  margin-bottom: 24px;
}

.btn {
  position: relative;
  padding: 0 15px;
  border-width: 2px;
  height: 40px;
  font-weight: 700;
  font-family: "Ek Mukta", sans-serif;
  font-size: 16px;
  line-height: 38px;
  border-radius: 0;
  transition: ease-in-out 0.3s;
  margin-bottom: 16px;
}

.btn-primary,
.btn-primary:link,
.btn-primary:visited {
  border-color: #fc0;
  background-color: transparent;
  color: #fc0;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 812px) {
  .jumbotronBody p {
    overflow: hidden;
    max-width: 75ch;
  }
}
